<html>
    <h3>Kind List:</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Food</th>
            <th>Sound</th>
        </tr>
        {% for pet in pets %}
        <tr>
            {% for key in pet.keys() %}
            <td>{{ pet[key] }}</td>
            {% endfor %}
            <td><a href="/kind/delete/{{pet['id']}}">Delete</a></td>
            <td><a href="/kind/update/{{pet['id']}}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <a href="/kind/create">Create New Kind</a>
</html>